templ GameList(games []db.Game, sortColumn string, sortOrder string){
    <!DOCTYPE html>
        
    <html> 
}

templ GameLayout(games []db.Game, sortColumn, sortOrder string){
    <div> 
    </div>
}