body {
    margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, rgba(21, 29, 87, 1) 0%, rgba(11, 14, 43, 1) 100%);
  background-attachment: fixed;
}

p {
  color: #FFFFFF;
}

.main-title {
  color: #FFFFFF;
}

.dashboard{
  display: flex;
  flex-direction: column;

}

#logout-button {
  color: #8387a3;
  font-size: 0.8rem;
  text-decoration: none;
  font-family: "Schibsted Grotesk", sans-serif;
}

#logout-button:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.popular-games {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 27px;
  margin-bottom: 4vh;
}


.popular-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-header h2 {
  text-align: left;
  color: #FFFFFF;
  font-size: 36px;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 900;
  margin: 0;
  margin-left: 1vw;
}

.header-icon {
  font-size: 2rem;
  color: #FFFFFF;
  margin: 0;
  margin-left: 1vw;
}


.game-list {
  align-self: stretch;
  padding: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 111px;
  flex-wrap: wrap; 
}


.game-card {
  width: 231px;
  height: 320px;
  background: rgba(217, 217, 217, 0.09);
  border-radius: 21px;
  outline: 1px solid rgba(255, 255, 255, 0.13);
  outline-offset: -1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin-left: 4vw;
  margin-right: 4vw;
  gap: 5px;
}

#add-game-card {
  border: #FFFFFF 10px dashed;
  transition: background-color 0.3s ease;
}

#add-game-card:hover {
  border: #FFFFFF 10px dashed;
   background: rgba(0, 0, 0, 0.09);
}



.modal-content {
  --bs-modal-bg: rgba(21, 29, 87, 1);
  --bs-modal-color : #FFFFFF;
  color: white; 
}



#addGameModal input {
  background-color: #131730;
  border: #FFFFFF 1px solid;
  color: #fff;
}

.custom-close-btn {
  background-color: #434977;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-family: "Schibsted Grotesk", sans-serif;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.custom-close-btn:hover {
  background-color: #626cb3;
}

.custom-save-btn {
  background-color: #59CBCB;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-family: "Schibsted Grotesk", sans-serif;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.custom-save-btn:hover {
  background-color: #198D8D;
}


#add-game-icon {
  font-size: 6rem;
  color: #FFFFFF;
  margin-top: 3rem;
}

.game-image {
  width: 100%;
  height: 229px;
  position: relative;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  background: #d9d9d9;
  overflow: hidden;
}

.game-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.game-title {
  height: 60px;
  text-align: center;
  color: #FFFFFF;
  font-size: 1em;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.game-name-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dots-btn {
  border-color: none;
}



header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 20px;
  padding: 0 20px;
  height: 60px;
}

#user-profile-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

#search {
  width: 40vw;
  height: 5vh;
  border-radius: 40px;
  background-color: #434977;
  color: #8387a3;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  padding: 10px 20px;
  margin: 0;
  
}

#search-input {
  border: none;
  outline: none;
  background-color: transparent;
}

#Logo {
  height: 80px;
  margin-top: 30px;
  margin-right: 0; 
}

#user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1;
}

#User-Icon {
  width: 50px; 
  height: 50px;
  margin: 0;
  border: 2px solid #ff00cc; 
  border-radius: 50%;
  box-shadow: 0 0 15px #ff00cc;
}
#username-display {
  color: #FFFFFF;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 700;
  font-size: 1.1rem; 
  margin: 0;
}

.result-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  background: #626cb3;
}

.result-item .result-button {
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.search-container {
  position: relative;  
  width: 40vw;        
  margin: 0 auto;     
}


#results {
  border: none;
  display: block;
  box-shadow: #000000 0px 0px 10px;
  border-radius: 20px;
  background: #434977;
  position: absolute;
  width: 40vw;
  max-height: 300px;
  overflow-y: auto;
  z-index: 9999; 
  font-family: "Schibsted Grotesk", sans-serif;
  color: #FFFFFF;
}

.result-item img {
  width: 4vw;
  height: 3vh;
  margin-right: 2vw;
}
.result-item:hover {
  background-color: #767a9e;
}
