body {
    margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, rgba(21, 29, 87, 1) 0%, rgba(11, 14, 43, 1) 100%);
  background-attachment: fixed;
}

p {
  color: #FFFFFF;
}

.main-title {
  color: #FFFFFF;
}

.dashboard{
  display: flex;
  flex-direction: column;

}

.popular-games {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 27px;
  margin-bottom: 4vh;
}


.popular-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-header h2 {
  text-align: left;
  color: #FFFFFF;
  font-size: 36px;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 900;
  margin: 0;
  margin-left: 1vw;
}

.header-icon {
  font-size: 2rem;
  color: #FFFFFF;
  margin: 0;
  margin-left: 1vw;
}


.game-list {
  align-self: stretch;
  padding: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 111px;
  flex-wrap: wrap; 
}


.game-card {
  width: 231px;
  height: 320px;
  background: rgba(217, 217, 217, 0.09);
  border-radius: 21px;
  outline: 1px solid rgba(255, 255, 255, 0.13);
  outline-offset: -1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin-left: 4vw;
  margin-right: 4vw;
  gap: 5px;
}

.game-image {
  width: 100%;
  height: 229px;
  position: relative;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  background: #d9d9d9;
  overflow: hidden;
}

.game-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.game-title {
  height: 60px;
  text-align: center;
  color: #FFFFFF;
  font-size: 1em;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.game-name-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dots-btn {
  border-color: none;
}



header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#search {
  width: 40vw;
  height: 5vh;
  border-radius: 40px;
  background-color: #434977;
  color: #8387a3;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  padding: 10px 20px;
  margin: 0;
}

#Logo {
  margin-right: 4vw;
}

#User-Icon {
  width: 7vw;
  height: 7vh;
  margin: 0;
  margin-left: 4vw;
}
#username-display {
  color: #FFFFFF;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.result-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  background: #626cb3;
}

#results {
  border: none;
  box-shadow: #000000 0px 0px 10px;
  border-radius: 20px;
  background: #434977;
  position: absolute;
  width: 40vw;
  max-height: 300px;
  overflow-y: auto;
  display: none;
  z-index: 9999; 
  font-family: "Schibsted Grotesk", sans-serif;
  color: #FFFFFF;
}

.result-item img {
  width: 4vw;
  height: 3vh;
  margin-right: 2vw;
}
.result-item:hover {
  background-color: #767a9e;
}
