body {
    margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, rgba(21, 29, 87, 1) 0%, rgba(11, 14, 43, 1) 100%);
  background-attachment: fixed;
}


.popular-games {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 27px;
}


.popular-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.popular-header h2 {
  width: 287px;
  height: 46px;
  text-align: center;
  color: #FFFFFF;
  font-size: 36px;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 900;
  margin: 0;
}

.header-icon {
  width: 37.5px;
  height: 37.5px;
  background: var(--Schemes-Background, #FEF7FF);
}


.game-list {
  align-self: stretch;
  height: 320px;
  padding: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 111px;
  flex-wrap: wrap; 
}


.game-card {
  width: 231px;
  height: 320px;
  background: rgba(217, 217, 217, 0.09);
  border-radius: 21px;
  outline: 1px solid rgba(255, 255, 255, 0.13);
  outline-offset: -1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin-left: 4vw;
  margin-right: 4vw;
  gap: 5px;
}

.game-image {
  width: 100%;
  height: 229px;
  position: relative;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  background: #d9d9d9;
  overflow: hidden;
}

.game-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.game-title {
  height: 60px;
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
